<div class="Bsky_header">
    <div class="Bsky_logo">
        <h1>Bsky</h1>
    </div>
    <div>
        <a href="{% url 'articleapp:list' %}">
                <span>Articles</span>
            </a>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <!--?next=={{request.path}} 구문을 통하여 login, logout을 하고난 뒤에 현재 페이지로 연결 할 수 있다.-->
                <!--이전 페이지의 경로를 url뒤에 붙여서 연결해주는식 ex > account/login/?next=/account/hello_world/-->
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}">
                <span>SignUp</span>
            </a>
        {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk%}">
                <span>MyPage</span>
            </a>
           <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
        {% endif %}
    </div>
</div>